body, .modal-content{
  margin: 0;
  background-color: rgb(56, 56, 56);
  color: white;
}
.form-control, .card, .form-control:focus{
  background-color: rgb(66, 66, 66);
  color: white;
}
.card-title,  .card-icon, .active, .btn-close{
  color: #c7aa53 !important;
}
.card-subtitle{
  color: rgb(189, 189, 189);
}
h3, h1{
  color: #ffc107;
}
.card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.alert{
  height: 2vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}
